<!doctype html>
<html>
  <head>
    <title>Fridge Temperature Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  </head>
  <body>
      <div>
        <h1>Current Temperature <span id="temperature"></span></h1>
        <h2 id="transport">(connecting)</h2>
        <canvas id="chart" height="200"></canvas>
    </div>
    <br>
    <br>
    
        <canvas id="chart1" height="200"></canvas>
    </div>
    <br>
    <br>
    <div><h2>Temperatures</h2><p id="log"></p></div>
    <div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/smoothie/1.27.0/smoothie.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script>
      // socket
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      var char = $('chart').get(0);
      socket.on('connect', function() {
          if (chart.getContext) {
              render();
              window.onresize = render;
          }
          send();
      });

      socket.on('disconnect', function() {
          if (smoothie){
              smoothie.stop();
          }
          $('#transport').text('(disconnected)');
      });

      var temps = new Array;
      socket.on('new_temp', function(msg) {
                $('#log').append('<br>Temp: ' + msg.data + ' degC');
                if (time) {
                    time.append(+new Date, msg.data);
                }
                if (temps && labels) { 
                    labels.push(new Date)
                    temps.push(msg.data);
                    if(temps.length > 10) {
                        temps.shift();
                        labels.shift();
                    }
                    $('#temperature').text(msg.data + 'degC');
                    chart1.update();
                    send();
                }
      });

      function send() {
          $('#transport').text(socket.io.engine.transport.name);
      }

      // charts - smoothie
      
        var smoothie;
        var time;
        var max = 10;
        var min = 0;
        var sections = max - min;
        function render() {
            if (smoothie)
                smoothie.stop();
            chart.width = document.body.clientWidth;
            smoothie = new SmoothieChart({verticalSections:sections, maxValue:max,minValue:min})
            smoothie.streamTo(chart, 2000);
            time = new TimeSeries();
            smoothie.addTimeSeries(time, {
                strokeStyle: 'rgb(255, 0, 0)',
                fillStyle: 'rgba(255, 0, 0, 0.4)',
                lineWidth: 2
            });
        }

      // new chart - chartjs

		var dateFormat = 'MMMM DD YYYY';
		var date = moment('April 01 2017', dateFormat);
        var labels = new Array;

		var ctx = document.getElementById('chart1').getContext('2d');
		ctx.canvas.width = 1000;
		ctx.canvas.height = 300;
		var cfg = {
			type: 'bar',
			data: {
				labels: labels,
				datasets: [{
					label: 'Temperature over time',
					data: temps,
					type: 'line',
					pointRadius: 0,
					fill: false,
					lineTension: 0,
					borderWidth: 2
				}]
			},
			options: {
				scales: {
					xAxes: [{
						type: 'time',
                        time: {
                            displayFormats:{
                                second: 'h:mm:ss a'
                            }
                        },
						distribution: 'series',
						ticks: {
							source: 'labels'
						}
					}],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'Temperature (degC)'
						}
					}]
				}
			}
		};
		var chart1 = new Chart(ctx, cfg);
    </script>
    
  </body>
</html>
