<!doctype html>
<html>
  <head>
    <title>Fridge Temperature Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  </head>
  <body>
      <div>
        <h1>Current Temperature <span id="temperature"></span></h1>
        <h2 id="transport">(connecting)</h2>
        <canvas id="chart" height="400"></canvas>
    </div>
    <br>
    <br>
    
        <canvas id="chart1" height="200"></canvas>
    </div>
    <br>
    <br>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/smoothie/1.27.0/smoothie.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script src="{{ url_for('static', filename='charts.js') }}"></script>
    
  </body>
</html>
